<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>


    <link rel="stylesheet" href="/css/index-main.css" />

    <title>StoneBlack</title>
</head>

<body>
<!------------------------------------ header ------------------------------------------------------>
<%- include('partials/header.ejs') %>

<!--------------------------------------------- main ----------------------------------------------->
    <main>
        
        <section class="division">
            <h2>Remeras con diseños originales</h2>
        </section>

    <section class="seccion1">

        
        <% for(let i=0; i < 8; i++) {%>
            
            <section class="container1">

                
                <div class="container2">
                    <a href="/productDetail/<%= allProducts[i].id%>">
                    <img src="/images/<%= allProducts[i].img%>" class="img1" alt="imagen" />
                    </a>
                </div>
                <div class="container3">       
                    <section class="precio-dto">
                        <p class="descripcion"><%= allProducts[i].descripcion %></p>
                        <h4 class="precio">$<%= allProducts[i].precio %></h4>
                        <p class="descuento"><%= allProducts[i].descuento %>% OFF</p>
                        <p class="cuotas"><%= allProducts[i].cuotas %></p>
                        <a href="/product-cart" class="add-to-a-cart">
                        <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                        </a>
                    </section>
                </div>
            </section>
            <%}%>
        
        </section>
           
        <details>
            <summary ><div class="mostrar-mas">
                <p>Mostrar/ocultar mas</p>
            </div></summary>
           
            <section class="seccion2">

                <% for(let i=8; i < allProducts.length; i++) {%>

                    <section class="container1">
         
                        <div class="container2">
                            <a href="/productDetail/<%= allProducts[i].id%>">
                            <img src="/images/<%= allProducts[i].img%>" class="img1" alt="imagen" />
                            </a>
                        </div>
                        <div class="container3">       
                            <section class="precio-dto">
                                <p class="descripcion"><%= allProducts[i].descripcion %></p>
                                <h4 class="precio">$<%= allProducts[i].precio %></h4>
                                <p class="descuento"><%= allProducts[i].descuento %>% OFF</p>
                                <p class="cuotas"><%= allProducts[i].cuotas %></p>
                                <a href="/product-cart" class="add-to-a-cart">
                                <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                                </a>
                            </section>
                        </div>
                    </section>

                    <%}%>

           
                </section>

        </details>
    </main>

   <!--------------------------------- footer --------------------------------------------------------------->
   <%- include('partials/footer.ejs') %> 
    
</body>

</html>