<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/listadoProductos.css" />
    
    <title>Listado de productos </title>
</head>
<body>

    <!------------------------------------ sin header ------------------------------------------------------>
   
    <!--------------------------------main ------------------------------------->
    <main>

        <div class="opcionesAdmin">
            <button class="botonL" type="submit" ><a href="/logout" title="Close" id="close">Terminar sesion</a></button>
            <button class="botonL" type="submit" ><a href="/creacionProduct" title="Close" id="close">Crear producto</a></button>
            <button class="botonL" type="submit" ><a href="/listaUsuarios" title="Close" id="close">Ver listado de Usuarios</a></button>
            <button class="botonL" type="submit" ><a href="/listaDevolucion" title="Close" id="close">Ver devoluciones</a></button>
            <label  class="botonL">Para editar haga click sobre cada producto</label>
        </div>


    <div class="titulo">
        <h1>Listado de productos</h1>
    </div>

    <section class="seccion1">

        
        <% for(let i=0; i < allProducts.length; i++) {%>
            
            <section class="container1">

                
                <div class="container2">
                    <a href="/edicionProduct/<%= allProducts[i].id%>">
                    <img src="/images/<%= allProducts[i].img%>" class="img1" alt="imagen" />
                    </a>
                </div>
                <div class="container3">       
                    <section class="precio-dto">
                        <p class="descripcion"><%= "Descripcion: "+ allProducts[i].descripcion %></p>
                        <h4 class="precio"><%= "Precio = $ " + allProducts[i].precio %></h4>
                        <p class="descuento"><%= "Descuento: " + allProducts[i].descuento %></p>
                        <p class="cuotas"><%= "Cuotas: " + allProducts[i].cuotas %></p>
                        
                        
                    
                    </section>
                </div>
            </section>
            <%}%>
    </section>
    </main>
</body>
</html>