<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet" href="/css/ordenCompra.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn animated">
                <h2 class="mt-5 mb-3 h2 text-center"> Factura Nro <%= ventas[0].numero_factura %>
                </h2>
                <div class="card my-5">
                    <div class="card-body">
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    
                                    <th class="th-lg">
                                        <strong>Fecha</strong>
                                    </th>
                                    <th class="th-lg ">
                                        <strong>ID Usuario</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Número Factura</strong>
                                    </th>
                                    <th class="text-center">
                                        <strong>Total $</strong>
                                    </th>
                                </tr>
                            </thead>


                            <tbody class="cartRows">
                                <% for( let i=0; i < ventas.length; i++ ) { %>
                                    
                                       

                            <tbody class="cartRows">
                               
                                    <tr>
                                        
                                        <td >
                                            <%= ventas[i].fecha %>
                                        </td>
                                        <td > <%= ventas[i].id_usuario %>
                                        </td>
                                        <td class="text-center">
                                            <%= ventas[i].numero_factura %>
                                        </td>
                                        <td class="text-center">$
                                            <%= ventas[i].total %>
                                        </td>
                                    </tr>

                                    <% } %>
                            </tbody>
                        </table>
                        <div class="card-footer text-right">
                            <h2>Total: <span class="totalAmount">$ <%= ventas[0].total %> </span></h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        Detalles de la compra
                    </div>
                    <div class="card-body" id="checkoutCart">
                        <div class="row">
                            <div class=" col-md-6">
                                <p class="mb-0"><strong>Tipo Envio:</strong>
                                    <%= ventas %>
                                </p>
                            </div>
                            <div class=" col-md-6">
                                <p class="mb-0"><strong>Pago:</strong>
                                    <%= ventas %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/" class="btn btn-primary btn-block">Volver al inicio</a>
                    </div>


                  
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        <script src="/js/carrito.js"></script>
           
</body>



</html>