<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/productDetail.css" /> 

    <title>Detalle de Producto</title>

</head>

<body>
    <!------------------------------------ header ------------------------------------------------------>
<%- include('../partials/header.ejs') %>

    <!-- MAIN -->
    <main >
        <!-- IMAGEN ARTICULO A DETALLAR: EN UN FUTURO VA A SER UN CARRUSEL -->
        <div class="caja-menu-imagen">
            <div class="imagen-articulo">
                <img src="/images/<%= Productos.img%>" alt="FOTO DE PRUEBA">
                <img src="/images/<%= Productos.img%>" alt="FOTO DE PRUEBA">
                <img src="/images/<%= Productos.img%>" alt="FOTO DE PRUEBA">
            </div>

        </div>
        
        <!-- DETALLES DEL PRODUCTO DEBAJO DE LA IMAGEN -->
        <div class="caja-detalles">
            <div class="titulo-articulo">
                <h2><%= Productos.nombre%></h2>
            </div>
            <div class="precio-articulo">
                <h3>$<%= Productos.precio%></h3>
            </div>
        </div>

        <!-- FORMULARIO COMPRA 
        <form id="form" onsubmit="agregarAlcarrito(); return false;"></form>
            -->


        <!-- TALLES -->       
        <div class="talle talle1">
            <div class="caja-talles">
             <p style="margin-right: 10px; margin-top: 8px;">TALLE  DISPONIBLE:<p>  <h4 style="font-size: 30px;"><%= Productos.talle %></h4>

                <!--
             <select id="talle" name="talle" class="add-to-a-cart">
                <option class="listado-talles " value="S" >S</option>
                <option  class="listado-talles" value="M" >M</option>
                <option class="listado-talles" value="L"  >L</option>
                <option class="listado-talles" value="XL" >XL</option> 
             </select>
             -->
            </div>


        </div>

        <!-- COLORES -->
        <div class="talle talle1" >
            <p>COLOR DISPONIBLE:</p><h4 style="font-size: 25px; margin-top: 2px;"><%= Productos.color %></h4>



            <!--
            <div class="caja-talles">


                <label class="radio1 radio">
                    
                    <input type="radio"  name="radio" 
                    
                    <% if (Productos.color == "Rojo") {%>
                    checked="<%="checked" %>" <% } %>>
                    <span class="check"></span>
                </label>

                <label class="radio2 radio">
                    <input type="radio" name="radio"
                    <% if (Productos.color == "Negro") {%>
                        checked="<%="checked" %>" <% } %>>
                    <span class="check"></span>
                </label>

                <label class="radio3 radio">
                    <input type="radio" name="radio"
                    <% if (Productos.color == "Gris") {%>
                        checked="<%="checked" %>" <% } %>>
                    <span class="check"></span>
                </label>

                <label class="radio4 radio">
                    <input type="radio" name="radio" 
                    <% if (Productos.color == "Blanco") {%>
                        checked="<%="checked" %>" <% } %>>
                    <span class="check"></span>
                </label>
            -->


            <!-- 
           <input class="listado-color1"  type="radio" id="Rojo" name="color" value="Rojo" >
           <span class="check"></span>
            <input type="radio" class="listado-color2" id="Negro" name="color" value="Negro" checked="checked">
            <input type="radio" class="listado-color3" id="Gris" name="color" value="Gris">
            <input type="radio" class="listado-color4" id="Blanco" name="color" value="Blanco">
            



            </div>
             -->

        </div>

        <!-- CANTIDAD -->
        <!--
        <div class="talle talle1">
            <h4 for="cantidad">CANTIDAD:</h4>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" default="1" required>
        </div>
        -->


        <!-- DESCRIPCION DEL PRODUCTO -->
        <div class="descripcion-articulo">
            <p>DESCRIPCION DEL PRODUCTO:</p>
            <h4 style="font-size: 22px; margin-top: 5px;"><%= Productos.descripcion%></h4>
        </div>
    </form>


        <!-- BOTON AGREGAR A CARRITO -->
      
            <div class="agregar_carrito ">
                <input type="submit" class=" boton-comprar comprar" value="AGREGAR AL CARRITO" data-id="<%= Productos.id %>"
                data-talle="<%= Productos.talle %>">
            </div>
        

        <!--
        <div>
            <a href="/product-cart" class="agregar-carrito ">
                <input type="submit" class="boton-comprar comprar " value="AGREGAR AL CARRITO"  data-id="<%= Productos.id %>" >
            </a>
        </div>
        -->
    

        <!-- Productos RELACIONADOS: FUTURO CARRUSEL -->
        <div>
            <h5 class="titulo-ProductosRelacionados">Productos RELACIONADOS:</h5>
            <div class="carrusel">
                <div class="carrusel-items">       
                    <% for(let i=0; i < ProductosRelacionados.length; i++) {%>
                    <div class="carrusel-item">
                        <a href="/productDetail/<%= Productos.id%>">
                    <img src="/images/<%= ProductosRelacionados[i].img%>">
                </a>
                </div>
                <%}%>    
                </div>
            </div>
        </div>


    </main>
<!--------------------------------- footer --------------------------------------------------------------->
<%- include('../partials/footer.ejs') %>
<script src="/js/productDetail.js"></script>

<script src="/js/carrito.js"></script>

</body>

</html>