<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/productDetail.css" /> 

    <title>Detalle de Producto</title>
</head>

<body>
    <!------------------------------------ header ------------------------------------------------------>
<%- include('../partials/header.ejs') %>

    <!-- MAIN -->
    <main >
        <!-- IMAGEN ARTICULO A DETALLAR: EN UN FUTURO VA A SER UN CARRUSEL -->
        <div class="caja-menu-imagen">
        <div class="imagen-articulo">
            <img src="/images/<%= Productos.img%>" alt="FOTO DE PRUEBA">
            <img src="/images/<%= Productos.uri_foto2%>" alt="FOTO DE PRUEBA">
            <img src="/images/<%= Productos.uri_foto3%>" alt="FOTO DE PRUEBA">
        </div>

        <!-- <nav class="menu-derecha">
            <h4>MENU</h4>
            <ul>
                <li><a href="">NUEVO LANZAMIENTO</a></li>
                <li><a href="">REMERAS</a></li>
                <li><a href="">CAMPERAS</a></li>
                <li><a href="">PANTALONES</a></li>
            </ul>
        </nav>
    </div> -->
</div>
        
        <!-- DETALLES DEL PRODUCTO DEBAJO DE LA IMAGEN -->
        <div class="caja-detalles">
            <div class="titulo-articulo">
                <h2><%= Productos.nombre%></h2>
            </div>
            <div class="precio-articulo">
                <h3>$<%= Productos.precio%></h3>
            </div>
        </div>

        <!-- FORMULARIO COMPRA -->
        <form id="form" onsubmit="agregarAlcarrito(); return false;"></form>
            
        <!-- TALLES -->       
        <div class="talle talle1">
            <div class="caja-talles">
             <h4>ELEGI TU TALLE:</h4>
             <select id="talle" name="talle">
                <option class="listado-talles" value="S">S</option>
                <option  class="listado-talles" value="M">M</option>
                <option class="listado-talles" value="L">L</option>
                <option class="listado-talles" value="L">XL</option>
             </select>
            </div>
        </div>

        <!-- COLORES -->
        <div class="talle talle1">
            <h4>AHORA TU COLOR:</h4>
            <div class="caja-talles">
            <label for="Rojo" id="label" class="listado-color1"><input type="checkbox" id="Rojo" name="color" value="Rojo"></label>
            <label for="Negro" id="label" class="listado-color2"><input type="checkbox" id="Negro" name="color" value="Negro"></label>
            <label for="Gris" id="label" class="listado-color3"><input type="checkbox" id="Gris" name="color" value="Gris"></label>
            <label for="Blanco" id="label" class="listado-color4"><input type="checkbox" id="Blanco" name="color" value="Blanco"></label>
            </div>
        </div>

        <!-- CANTIDAD -->
        <div class="talle talle1">
            <h4 for="cantidad">CANTIDAD:</h4>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10" required>
        </div>

        <!-- DESCRIPCION DEL PRODUCTO -->
        <div class="descripcion-articulo">
            <h4>DESCRIPCION DEL PRODUCTO:</h4>
            <p><%= Productos.descripcion%></p>
        </div>

        <!-- BOTON AGREGAR A CARRITO -->
        <div>
            <a href="/product-cart">
                <input type="submit" class="boton-comprar" value="AGREGAR AL CARRITO">
            </a>
        </div>
    </form>

        <!-- Productos RELACIONADOS: FUTURO CARRUSEL -->
        <div>
            <h5 class="titulo-ProductosRelacionados">Productos RELACIONADOS:</h5>
            <div class="carrusel">
                <div class="carrusel-items">       
                    <% for(let i=0; i < ProductosRelacionados.length; i++) {%>
                    <div class="carrusel-item">
                        <a href="/productDetail/<%= Productos.id%>"">
                    <img src="/images/<%= ProductosRelacionados[i].img%>">
                </a>
                </div>
                <%}%>    
                </div>
            </div>
        </div>


    </main>
<!--------------------------------- footer --------------------------------------------------------------->
<%- include('../partials/footer.ejs') %>
<script src="/js/productDetail.js"></script>
</body>

</html>